---
title: "eClassIO: ¿Qué ocurre en el mundo?"
description: content
---


<div class="content">
  <table>
    <tr>
      <td>
        <h1>
          <a href="{{news_1.link}}">
            {{news_1.title}}
          </a>
        </h1>
        <p class="lead">
          <a href="{{news_1.link}}">
            {{news_1.content}}
          </a>
        </p>

        {{#if news_1.image}}
        	<p>
	          <a href="{{news_1.link}}">
	            <img src="{{news_1.image}}" mc:edit="header"/>
	          </a>
	        </p>
        {{/if}}

      </td>
    </tr>
  </table>
</div>

{{#each news_2}}
	<div class="content" mc:repeatable>
	  <table bgcolor="">
	    <tr>
	      <td class="small" width="20%" style="vertical-align: top; padding-right:10px;">
	        <img src="{{this.image}}" mc:edit="medium"/>
	      </td>
	      <td>
	        <h4 style="margin-left: 5px;">
	          <a href="{{this.link}}">
	            {{this.title}}
	            <small>
	              {{this.tags}}
	            </small>
	          </a>
	        </h4>
	        <p style="margin-left: 5px;">
	          <a href="{{this.link}}">
	            {{this.content}}
	          </a>
	        </p>
	      </td>
	    </tr>
	  </table>
	</div>
{{/each}}




{{#each news_3}}
	<div class="content" mc:repeatable>
	  <table bgcolor="">
	    <tr>
	      <td>
	        <h5>
	          <a href="{{this.link}}">{{this.title}}</a>
	        </h5>
	        <p class="">
	          <a href="{{this.link}}">
	          {{{this.content}}}
	        </p>
	      </td>
	    </tr>
	  </table>
	</div>
{{/each}}
